.details-chart {
    width: 100%;
    min-height: 512px;
    min-width: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.chart-tooltip-title {
    font-weight: bold;
}

/* Bar graph in table */
.bar-graph {
    float: left;
    color: transparent;
}

.missed {
    background-color: #EF9A9A;
}

.missed:hover {
    background-color: #FFCDD2;
}

.covered {
    background-color: #A5D6A7;
}

.covered--hover:hover {
    background-color: #C8E6C9;
}

